@charset "utf-8";
/* CSS Document */
body {
	
	background-color: royalblue;
	
	
}



h1{
color:crimson;
margin-left: 20px;
	
	
	
}
#cont1{
	background-color: red;
	margin-left:40%;}